<footer >
    <div class="container text-center p-5">
        <div class="row ">
            <div class="col-md-4 col-11">
                <div class="location">
                    <h3>Location</h3>
                    <p class="">2215 John Daniel DriveClark, MO 65243</p>
                </div>
            </div>

            <div class="col-md-4 col-11 my-md-0 my-5 ">
                <div class="footer-links">
                    <h3>arround the web</h3>
                    <div class="social-links">
                     <i class="fa-brands fa-facebook-f fa-lg"></i>
                     <i class="fa-brands fa-twitter fa-lg"></i>
                     <i class="fa-brands fa-linkedin-in fa-lg"></i>
                     <i class="fa-solid fa-basketball fa-lg"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-11">
                <h3>about freelancing</h3>
                <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>

        </div>
    </div>
</footer>
