.notfound{
    background-color: black;
    min-width: 100vw;
    min-height: 80vh;
    background-image: url(../../assets/images/1_dH58ZpeVOaNehc-JO-RIPw.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}