.contact{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    margin: auto;
}
form input,textarea{
    padding: 10px 20px;
    outline: none;
    border: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
form input::placeholder,form textarea::placeholder{
    font-size: 1.2rem;
}
form input:focus,form textarea:focus{
    border-bottom: 1px solid #1abc9c ;
}
form button{
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color:  #1abc9c;
    color: white;
    font-size: 1.4rem;
}